<% if @tamagotchi.is_alive?() %>
<h2><%= @name %></h2>
<p>Food Level is: <%= @food %></p>
<p>Sleep Level is: <%= @sleep %></p>
<p>Activity Level is: <%= @activity %></p>

<form action="/feed" method="post">
  <button type="submit" name="food">Feed</button>
</form>

<form action="/sleep" method="post">
  <button type="submit" name="sleep">Sleep</button>
</form>

<form action="/activity" method="post">
  <button type="submit" name="activity">Play</button>
</form>
<% else %>
<h2>
  <%= @name %> is DEAD
</h2>
<% end %>
